#bestlist_create_form{
    display: none;
    background-color: #000000bf;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 950;
}

#bestlist_add_form{
    display: none;
    background-color: #000000bf;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 950;
}

#bestlist_add_form_text{
    margin-bottom: 10px;
}

#bestlist_add_form_text li:hover{
    color:red;
    cursor:pointer;
}

#bestlist_create_form_content{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 999;
}

#bestlist_add_form_content{
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    position: relative;
    z-index: 999;
}

#bestlist_add_form_close{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 30px;
    color:red;
    cursor: pointer;
}